body, html {
  width: 100%;
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400
}

h1 {
  margin: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700
}

h2, h3, h4, h5, h6 {
  margin: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400
}

a, a:hover {
  text-decoration: underline;
  color: inherit
}

li {
  padding: 0 0 10px
}

ul, ol {
  padding: 0 0 0 20px
}

/* HEADER */

header {
  position: relative;
  padding: 0;
  padding-top: 50px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  color: #f8f8f8;
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/header.png), -webkit-linear-gradient(#ccc 85%, #333 15%);
  background-image: url(../img/header.png), linear-gradient(#ccc 85%, #333 15%);
  background-color: #ccc;
  background-size: 100% auto;
  background-position: center 85%;
  background-repeat: no-repeat
}

.logo {
  margin: 0 auto;
  width: 200px;
}

.header__nav {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  min-height: 50px;
  background-color: rgba(128, 128, 128, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5%;
  padding-right: 3%;
  transition: 0.5s;
}

.main-header__bars {
	display: none;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 5px 0 0 0;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.nav__list li {
  margin-right: 20px;
}

.nav__list a {
  transition: 0.5s;
  font-size: 22px;
  text-decoration: none;
  color: rgb(58, 58, 58);
}

.nav__list a:hover {
  color: #AAD400;
  text-decoration: underline;
}

.nav__list .nav-current {
  pointer-events: none;
  cursor: default;
  color: #CCCCCC;
}

.nav__lang {
  width: 8%;
  min-height: 50px;
  color: #F8F8F8;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__lang a {
  font-size: 14px;
}

.nav__lang a:hover {
  color: #E7E3DF;
}

.nav__lang .lang-active {
  pointer-events: none;
  cursor: default;
  color: #DDD9D5;
  text-decoration: none;
}

.intro-message {
  padding-left: 15px;
  padding-right: 15px
}

.hashtag {
  color: #cf0;
  width: 100%;
  display: block;
  margin: 20px auto 10px
}

.pointerdown {
  cursor: pointer;
  padding-top: 30px
}

.buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  height: 75px;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  box-shadow: 0 0 1px #888
}

.button-volunteers, .button-initiatives {
  width: 50%;
  height: 75px;
  background: #cf0;
  display: table;
  border: 1px solid #888;
  box-shadow: 2px 0 5px #888
}

.button-volunteers:hover, .button-initiatives:hover {
  background: #b1d523
}

.button-volunteers {
  float: left
}

.button-initiatives {
  float: right
}

.button-volunteers a, .button-initiatives a {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  font-weight: 700;
  line-height: 1em;
  text-decoration: none
}

footer {
  padding: 25px 0;
  min-height: 300px;
  position: relative;
  background-image: url(../img/footer_4.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #ccc;
  text-align: center
}

footer p {
  padding: 3px 0
}

.bottom-menu .nav-current {
  pointer-events: none;
  cursor: default;
  color: #737373;
}

.bottom-menu li {
  padding: 0 10px;
  font-weight: 700
}

.bottom-menu a:hover {
  color: #23527c;
}

.contact li {
  padding-top: 0;
  padding-bottom: 0
}

.copyleft * {
  display: inline-block;
  line-height: 16px;
  vertical-align: middle
}

.copyleft i {
  font-size: 16px
}

.copyleft a {
  margin-left: 10px
}

.social i {
  margin: 0 5px
}

.icons a {
  text-decoration: none
}

@media only screen and (min-width: 769px) {
  .nav__list {
    display: flex;
	padding-left: 1%;
	padding-right: 1%;
	width: 840px;
  }
  .nav__lang {
    width: 15%;
  }
}

@media only screen and (max-width: 768px) {
  .main-header__bars {
    display: block;
    position: absolute;
    font-size: 26px;
    color: #fff;
    top: 7px;
    left: 3%;
  }
  .header__nav {
    flex-direction: column;
    padding-right: 5%;
    background-color: rgba(128, 128, 128, 1);
    transition: 0.5s;
  }
  .nav__list {
    display: none;
    text-align: center;
    width: 60%;
    flex-direction: column;
    margin-top: 10px;
  }
  .nav__list a {
    font-size: 16px;
  }
  .nav__lang {
    width: 30%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 424px) {
  .nav__lang {
    width: 40%;
  }
}

@media (min-width:180px) {
  .intro-message>h1 {
    font-size: 30px
  }
  .intro-message>h3 {
    font-size: 12px
  }
  .hashtag {
    font-size: 15px
  }
  .inner-title {
    font-size: 16px
  }
  p, li {
    font-size: 13px
  }
  h2 {
    font-size: 24px
  }
  h3 {
    font-size: 20px
  }
  .button-volunteers a, .button-initiatives a {
    font-size: 20px
  }
  .bottom-menu li {
    font-size: 14px
  }

  .img-fullwidth {
    max-width: 100%
  }
  .img-halfwidth {
    max-width: 90%
  }

  .intro-message {
    padding-top: 10%;
    padding-bottom: 20%
  }
  .logo {
    max-width: 30%
  }

  .inner-header {
    height: 75px
  }
  .inner-logo {
    display: block;
    height: 70px;
    padding: 10px 0
  }
  .inner-title {
    text-align: center;
    line-height: 70px;
    padding: 0 8px;
    margin: 0
  }
  .inner-header-background {
    background-image: none
  }

  .button-volunteers a, .button-initiatives a {
    padding: 0 5px
  }

  footer {
    background-size: auto 50%
  }
}

@media (min-width:480px) {
  .intro-message>h1 {
    font-size: 40px
  }
  .intro-message>h3 {
    font-size: 16px
  }
  .hashtag {
    font-size: 20px
  }
  .inner-title {
    font-size: 31px
  }
  p, li {
    font-size: 16px
  }
  h2 {
    font-size: 26px
  }
  h3 {
    font-size: 20px
  }
  .button-volunteers a, .button-initiatives a {
    font-size: 24px
  }
  .bottom-menu li {
    font-size: 18px
  }

  .img-fullwidth {
    max-width: 80%
  }

  .intro-message {
    padding-top: 7%
  }
  .logo {
    max-width: 20%
  }

  .inner-header {
    height: 100px
  }
  .inner-logo {
    display: block;
    height: 90px
  }
  .inner-title {
    margin: 0 0 0 6px;
    text-align: center;
    line-height: 100px
  }

  .button-volunteers a, .button-initiatives a {
    padding: 0 10px
  }

  .bottom-menu {
    margin: 0 0 30px -5px
  }
  footer {
    background-size: auto 70%
  }
}

@media (min-width:720px) {
  .intro-message>h1 {
    font-size: 48px
  }
  .intro-message>h3 {
    font-size: 18px
  }
  .hashtag {
    font-size: 22px
  }
  .inner-title {
    font-size: 36px
  }
  h2 {
    font-size: 30px
  }
  h3 {
    font-size: 22px
  }
  .button-volunteers a, .button-initiatives a {
    font-size: 30px
  }
  .social {
    font-size: 20px
  }

  .intro-message {
    padding-top: 3%
  }
  .logo {
    max-width: 15%
  }

  .inner-header {
    height: 100px
  }
  .inner-logo {
    height: 90px;
    padding: 5px 0
  }
  .inner-title {
    margin: 0 0 0 20px;
    line-height: 80px
  }
  .inner-header-background {
    background-size: 50%;
    background-image: url(../img/header-inner.png)
  }

  .button-volunteers a, .button-initiatives a {
    padding: 0 15px
  }

  .bottom-menu {
    margin: 0 0 25px -5px
  }
  .contact {
    margin: 0 0 15px -5px
  }
}

@media (min-width:1024px) {
  .intro-message>h1 {
    font-size: 56px
  }
  .intro-message>h3 {
    font-size: 20px
  }
  .hashtag {
    font-size: 24px
  }
  .inner-title {
    font-size: 40px
  }
  h2 {
    font-size: 36px
  }
  h3 {
    font-size: 24px
  }
  .button-volunteers a, .button-initiatives a {
    font-size: 32px
  }

  .img-halfwidth {
    max-width: 100%
  }

  .intro-message {
    padding-top: 2%;
    padding-bottom: 11%
  }
  .logo {
    max-width: 13%
  }

  .inner-header-background {
    background-size: 35%
  }
  .inner-logo {
    height: 100px
  }
  .inner-title {
    line-height: 100px;
    margin: 0 30px
  }
}